<h1>Talks</h1>

<p>Conferences, meetups, webinars, schools, and more, that I've given talks at.</p>

<img src="assets/images/talks/zoomtopia.png" alt="Zoomtopia with Tommy Gaessler">
<img src="assets/images/talks/apiworld.webp" alt="API World with Tommy Gaessler">
<img src="assets/images/talks/cu.webp" alt="CU with Tommy Gaessler">
<img src="assets/images/talks/denver-startup-week.png" alt="Denver Startup Week with Tommy Gaessler">
<img src="assets/images/talks/flatiron-school.png" alt="Flatiron School with Tommy Gaessler">
<img src="assets/images/talks/hackreactor.png" alt="Hack Reactor with Tommy Gaessler">
<img src="assets/images/talks/galvanize.webp" alt="Galvanize with Tommy Gaessler">
<img src="assets/images/talks/techsoft3d.svg" alt="Tech Soft 3D with Tommy Gaessler">
<img src="assets/images/talks/boulderjs.jpeg" alt="BoulderJS with Tommy Gaessler">
<img src="assets/images/talks/rocky-mountain-anuglar.jpeg" alt="Rocky Mountain Angular with Tommy Gaessler">
<img src="assets/images/talks/nastd.png" alt="NASTD with Tommy Gaessler">
<img src="assets/images/talks/priority-paradigm.png" alt="Priority Paradigm with Tommy Gaessler">
<img src="assets/images/talks/frontrange-frontend.png" alt="Frontrange Frontend with Tommy Gaessler">