img {
  width: 100%;
  border: 3px solid #f3f4f5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.well {
  position: relative;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #f3f4f5;
}

.appstore {
  position: absolute;
  right: 19px;
  bottom: 19px;
}

.appstore img {
  border: none;
  width: 145px;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-block;
}

h2 a {
  color: #666666;
}

h2 a:hover {
  color: #777;
}

.languages {
  margin-bottom: 0;
}

@media (max-width: 767px) {

  .appstore {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .appstore img {
    width: 145px;
    margin-top: 16px;
  }

  .languages {
    margin-bottom: 16px;
  }
}
