@font-face {
  font-family: 'icomoon';
  src:  url('rocket/rocket.eot?u61zgi');
  src:  url('rocket/rocket.eot?u61zgi#iefix') format('embedded-opentype'),
    url('rocket/rocket.ttf?u61zgi') format('truetype'),
    url('rocket/rocket.woff?u61zgi') format('woff'),
    url('rocket/rocket.svg?u61zgi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {

  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rocket:before {
  content: "\e900";
}

blockquote {
  padding: 11.5px 23px;
  margin: 0 0 23px;
  font-size: 16.25px;
  border-left: 5px solid #eeeeee;
}

/* Rocket Loader */

.loader {
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.icon-rocket {
  font-size: 150px;
}
