<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/"><img src="../assets/images/profiles/tommygaessler-square.jpg" alt=""/>Tommy Gaessler</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a href="https://medium.com/@tommygaessler" routerLinkActive="active" target="_blank">Blog</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="side">
  <a routerLink="/">
    <img class="profile-pic" src="../assets/images/profiles/tommygaessler-square.jpg" alt="Tommy Gaessler" />
  </a>
  <div class="background-image" style="background-image: url('../assets/images/profiles/background.jpg')"></div>

  <h3><a routerLink="/" routerLinkActive="active">Tommy Gaessler</a></h3>
  <hr>
  <nav class="page-links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a href="https://medium.com/@tommygaessler" routerLinkActive="active" target="_blank">Blog</a>
    <a routerLink="/projects" routerLinkActive="active">Projects</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
  <hr>
  <nav class="social-links">
    <a href="https://twitter.com/tommygaessler" target="_blank">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/tommygaessler" target="_blank">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://linkedin.com/in/tommygaessler" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </nav>
</div>

<main class="main">
  <router-outlet></router-outlet>
</main>
