/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    max-width: 1500px;
    margin: auto;
}

h1, h2, h3 {
    font-family: "TikTok Sans", sans-serif;
}

p, a {
    font-family: "Roboto", sans-serif;
}

main {
    display: block;
    margin: auto;
    width: 80%;
}

a {
    text-decoration: underline;
    color: #000000;
}

a:hover {
    color: #565A61;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    margin-bottom: 20px;
}

.column:first-of-type {
    margin-right: 10px;
}

.column:last-of-type {
    margin-left: 10px;
}

.column img {
    width: 100%;
}

.card {
    border-radius: 10px;
    border: 1px solid #000000;
    height: 100%;
}

.card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card h2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.card a {
    display: inline-block;
}

.card .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}

.card .video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media (max-width: 650px) {
  .row {
    display: block;
  }

  .row .column {
    margin-left: 0;
    margin-right: 0;
  }
}