<h1>About Me</h1>
<p>Hi I'm Tommy Gaessler!</p>

<p>I am a Developer Advocate for <a href="https://zoom.us" target="_blank">Zoom</a>! I work on the API and Developer Relations side of <a href="https://marketplace.zoom.us" target="_blank">Zoom's App Marketplace</a>!</p>

<!-- <p>I am a Software Developer and Dev Evangelist for <a href="http://apostrophehealth.com" target="_blank">Apostrophe</a>. I learned to code at <a href="http://galvanize.com" target="_blank">Galvanize</a>, landed my dream job, and went through the <a href="http://techstars.com" target="_blank">Techstars Boulder Accelerator</a>!</p> -->

<p>Latest Update: <a href="https://www.americaninno.com/colorado/inno-insights-colorado/the-kids-are-alright-meet-colorados-2019-inno-under-25/" target="_blank">I am honored to be one of Colorado’s top 15 entrepreneurs & innovators under 25 years old!</a></p>

<ng2-tweet tweetId="1174520237103828994"></ng2-tweet>
