h1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.hero {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero h3, .hero p {
    margin: 0;
}

.card h2 {
    margin-left: 0;
    margin-right: 0;
}

.card {
    padding: 20px;
}