<h1>About Me</h1>
<p>Hi I'm Tommy Gaessler!</p>

<p>I am a Senior Developer Advocate and Software Engineer at <a href="https://zoom.us" target="_blank">Zoom</a>, for the <a href="https://developers.zoom.us/docs/video-sdk/" target="_blank">Video SDK</a> and <a href="https://developers.zoom.us/docs/meeting-sdk/" target="_blank">Meeting SDK</a>.</p>

<p>As Senior Developer Advocate and Software Engineer at Zoom, I wear many hats, including writing production code, building sample apps, managing products, supporting sales, speaking at conferences and meetups, writing dev docs, and growing the developer community.</p>

<p>Before Zoom, I was a founding engineer at Apostrophe, a <a href="https://www.techstars.com/portfolio?name=Apostrophe" target="_blank">Techstars Boulder</a> startup that was later aquired by <a href="https://centivo.com/" target="_blank">Centivo</a>.</p>

<p>If you're building with the <a href="https://developers.zoom.us/" target="_blank">Zoom Developer Platform</a>, want to book me for a <a routerLink="/talks" routerLinkActive="active">talk</a>, or just want to connect, feel free to <a routerLink="/contact" routerLinkActive="active">reach out</a>, I'd love to hear from you!</p>