<h1>About Me</h1>
<p>Hi I'm Tommy Gaessler!</p>

<p>I am the Senior Product Manager - Platforms at <a href="https://zoom.com" target="_blank">Zoom</a>, managing <a href="https://app.zoom.us/wc" target="_blank">Web</a> and <a href="https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0060160" target="_blank">VDI</a>.</p>

<p>At Zoom, I have also been in positions such as Engineering Manager, Software Enginer, and Developer Advocate.</p>

<p>Before Zoom, I was a founding engineer at <a href="https://www.linkedin.com/company/apostrophe-inc./about/" target="_blank">Apostrophe</a>, a <a href="https://www.techstars.com/portfolio?q=apostrophe&is_exit=true" target="_blank">Techstars Boulder</a> startup that was later acquired by <a href="https://centivo.com/" target="_blank">Centivo</a>.</p>

<p>If you're using one of the products I manage, building with the <a href="https://developers.zoom.us/" target="_blank">Zoom Developer Platform</a>, want to <a routerLink="/talks" routerLinkActive="active">book me for a podcast, conference, or meetup talk</a>, or just want to connect, feel free to <a routerLink="/contact" routerLinkActive="active">reach out</a>, I'd love to hear from you!</p>